---
import LandingLayout from '~/layouts/LandingLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Content from '~/components/widgets/Content.astro';
import Proof from '~/components/widgets/Proof.astro';

import { YouTube } from 'astro-embed';

const metadata = {
  title: 'Attention: Friends and Loved Ones',
};
---

<LandingLayout metadata={metadata}>
  <Hero
    tagline="Attention: Friends and Loved Ones"
    actions={[
      {
        variant: 'primary',
        text: 'Record a Message Now',
        href: 'https://testimonial.to/words-for-lisa-s-soul',
        target: '_blank',
        icon: 'tabler:microphone-2',
      },
    ]}
  >
    <Fragment slot="title">
      We're Giving Lisa a <span class="text-accent dark:text-white highlight">Gift She'll Cherish Forever</span
      ></Fragment
    >

    <Fragment slot="subtitle">
      One that says, “I see you. I know you. <span class="font-semibold"></span>You matter.</Fragment
    ></Hero
  >
</LandingLayout>

<!-- <Fragment slot="image">
      <YouTube id="#####" title="Lisa's Surprise Letters" />
      <style is:inline>
        lite-youtube {
          margin: 0 auto;
          max-width: 100%;
        }
      </style>
    </Fragment> -->

<Content
  tagline="Most of us never get to hear the full impact we have"
  title="This is our moment to give Lisa what most people never receive"
  subtitle="Imagine Lisa watching a video filled with the voices of the people she loves, tears welling up as she hears how deeply she’s impacted each of us..."
  image={{
    src: '~/assets/images/PORTRAIT.jpg',
    alt: 'Our Beautiful Lisa',
  }}
  items={[
    {
      icon: 'tabler:heart',
      title: `Words are her oxygen`,
      description:
        'Lisa’s love language is words of affirmation but she rarely gets to hear the deep stuff. Not just acknowleged for what she does, but hear heart behind it. Her values. Her impact. Her legacy.',
    },
    {
      icon: 'tabler:movie',
      title: `Let's celebrate her heart this year`,
      description: `For Lisa’s birthday I'm organizing a surprise video montage of the impact she's had on the lives of those around her.<br><br>Help me create a collection of heartfelt messages from the people who know her best.`,
    },
    {
      icon: 'tabler:speakerphone',
      title: 'That’s where you come in',
      description: `On the next page you'll be able to record a short (under 3 minutes) video with your phone.<br><br>Share a memory that reminds you of the qualities you most admire in Lisa. Go beyond what she does; speak to who she is. Tell her the moments that stuck with you. The things she doesn’t hear enough. The impact she’s had.<br><br>There's inspration on the next page and you'll get a chance to re-record until you're happy with your message!`,
    },
    {
      icon: 'tabler:calendar-exclamation',
      title: `Deadline is coming fast don’t wait!`,
      description: `This is the kind of gift she keeps for life. Let’s make her birthday unforgettable together.`,
    },
  ]}
/>
<Hero
  actions={[
    {
      variant: 'primary',
      text: 'Record a Message Now',
      href: 'https://testimonial.to/words-for-lisa-s-soul',
      target: '_blank',
      icon: 'tabler:microphone-2',
    },
  ]}
/>
<Proof
  title="You’re in Great Company"
  subtitle="Others are already sharing their love for Lisa. Add your voice to the celebration!"
  testimonials={[
    {
      image: {
        src: '~/assets/images/people/jodi.jpg',
        alt: 'Jodi',
      },
    },
    {
      image: {
        src: '~/assets/images/people/michael.jpg',
        alt: 'michael',
      },
    },
    {
      image: {
        src: '~/assets/images/people/carter.jpg',
        alt: 'Carter',
      },
    },
    {
      image: {
        src: '~/assets/images/people/mark.jpg',
        alt: 'Mark',
      },
    },
    {
      image: {
        src: '~/assets/images/people/brooke.jpg',
        alt: 'Brooke',
      },
    },
  ]}
/>
<Hero
  actions={[
    {
      variant: 'primary',
      text: 'Record a Message Now',
      href: 'https://testimonial.to/words-for-lisa-s-soul',
      target: '_blank',
      icon: 'tabler:microphone-2',
    },
  ]}
/>
<br /><br /><br />&nbsp;
