---
import LandingLayout from '~/layouts/LandingLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Content from '~/components/widgets/Content.astro';

import { YouTube } from 'astro-embed';

const metadata = {
  title: 'Attention: Friends and Loved Ones',
};
---

<LandingLayout metadata={metadata}>
  <Hero
    tagline="Attention: Friends and Loved Ones"
    actions={[
      {
        variant: 'primary',
        text: 'Record a Message Now',
        href: 'https://testimonial.to/words-for-lisa-s-soul',
        target: '_blank',
        icon: 'tabler:microphone-2',
      },
    ]}
  >
    <Fragment slot="title">
      You're Invited to Be Part of Something <span class="text-accent dark:text-white highlight"
        >Lisa Will Never Forget</span
      ></Fragment
    >

    <Fragment slot="subtitle">
      A special surprise <span class="font-semibold">that speaks to her soul</span>
    </Fragment>

    <!-- <Fragment slot="image">
      <YouTube id="#####" title="Lisa's Surprise Letters" />
      <style is:inline>
        lite-youtube {
          margin: 0 auto;
          max-width: 100%;
        }
      </style>
    </Fragment> -->
  </Hero>
  <Content
    title="A Gift She’ll Treasure Forever"
    subtitle="Your words have the power to touch her heart in a way nothing else can"
    tagline="Acknowlege Her With Words that Matter"
    image={{
      src: '~/assets/images/PORTRAIT.jpg',
      alt: 'Our Beautiful Lisa',
    }}
    items={[
      {
        icon: 'tabler:heart',
        title: `Lisa’s love language is words of affirmation`,
        description:
          'Lisa cherishes hearing about who she is at her core. Too often, we focus on what a person does and forget to acknowledge the values, principles, and character that make them truly special.',
      },
      {
        icon: 'tabler:movie',
        title: `This year, I'm creating a surprise video montage for Lisa’s birthday`,
        description: `A celebration of her heart, her spirit, and the way she impacts the lives of those around her. Help me create a collection of heartfelt messages from the people who know her best.`,
      },
      {
        icon: 'tabler:speakerphone',
        title: 'I need your voice in this',
        description: `Record a short video (about three minutes) sharing the qualities you admire most about Lisa. Tell her what you see in her. Remind her of the light she carries. Your words will become part of a gift that she can return to again and again.`,
      },
      {
        icon: 'tabler:calendar-exclamation',
        title: `The Deadline Is Soon!`,
        description: `Let’s make her birthday unforgettable together. This will be one of those gifts that stays in her heart forever`,
      },
    ]}
  />
  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Record a Message Now',
        href: 'https://testimonial.to/words-for-lisa-s-soul',
        target: '_blank',
        icon: 'tabler:microphone-2',
      },
    ]}
  />
</LandingLayout>
