---
import LandingLayout from '~/layouts/LandingLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

import { YouTube } from 'astro-embed';

const metadata = {
  title: 'Reach New Clients',
};
---

<LandingLayout metadata={metadata}>
  <Fragment>
    <link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet" />
    <script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>
  </Fragment>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="Attention: Friends and Loved Ones"
    actions={[
      {
        variant: 'primary',
        text: 'Upload Your Letter to Lisa',
        href: '#',
        // target: '_blank',
        onclick:
          "Calendly.initPopupWidget({url: 'https://calendly.com/clients-jjg/client-engine-workshop?hide_gdpr_banner=1'});return false;",
        icon: 'tabler:presentation',
      },
    ]}
  >
    <Fragment slot="title">
      You're Invited to Be Part of Something <span class="text-accent dark:text-white highlight"
        >Lisa Will Never Never Forget</span
      ></Fragment
    >

    <Fragment slot="subtitle">
      For her birthday, we’re creating a surprise <span class="font-semibold">that speaks to her soul</span>
    </Fragment>

    <Fragment slot="image">
      <YouTube id="#####" title="Lisa's Suprise Letters" />
      <style is:inline>
        lite-youtube {
          margin: 0 auto;
          max-width: 100%;
        }
      </style>
    </Fragment>
  </Hero>
</LandingLayout>
